@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    width: 100%;
}

.container {
    height: 900px;
    display: grid;
    grid-template-rows: 70px 1fr;
}

header {
    background: rgb(4,38,16);
    color: white;
    padding-left: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3ch;
}

h1 {
    font-size: 30px;
}

.main {
    display: grid;
    grid-template-columns: 280px 1fr;
    background: rgb(74,160,101);
    background: linear-gradient(180deg, rgba(74,160,101,1) 25%, rgba(9,55,24,1) 100%);
}

.book-form {
    background-color: white;
    height: 400px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="tel"] {
    width: 50px;
}

.books {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-rows: repeat(auto-fit, 270px);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
}

.book {
    width: 210px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(114, 164, 132);
    box-shadow: 4px 4px 6px rgba(29, 69, 45, 0.764);
    border-radius: 10px;
    background-color: rgb(233, 254, 241);
    padding-top: 60px;
    align-items: center;
    position: relative;

}

.title-author {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(7, 15, 43);
    text-align: center;
}

.book-title {
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.book-author {
    font-size: 14px;
}

.pages-year {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: rgb(86, 102, 89);

}

.status {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(26, 204, 88);
    padding: 8px;
}
